[run]
branch = False
omit =
    vdom/tests/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    vdom/tests/*
    */site-packages/*
show_missing = True